{% include 'sitio/headIndex.html' %}

        <!-- Navigation -->
      <nav class="navbar">
        <section class="cta-section">
            <h2>¡Comienza Hoy!</h2>
            <button onclick="location.href='/registro'">Registrarse Ahora</button>
            <button onclick="location.href='/inicioSesion'">Iniciar Sesión</button>
        </section>
      </nav>

      <!-- Main Content -->
      <section class="main-content">
          <h2>¿Qué ofrecemos?</h2>
          <div class="d-flex flex-wrap justify-content-center">
              <div class="card">
                  <i class="fas fa-box"></i>
                  <h3>Interacción Directa entre Docentes</h3>
                  <p>¡Los profesores también tienen voz aquí! Permite que los docentes se comuniquen y colaboren entre ellos, creando un ambiente más enriquecedor para todos en la comunidad académica.</p>
              </div>
              <div class="card">
                  <i class="fas fa-chart-line"></i>
                  <h3>Exploración de Asignaturas y Profesores</h3>
                  <p> Descubre qué asignaturas y docentes son los más recomendados por tus compañeros. Esta función te ayudará a tomar decisiones informadas sobre tu educación y a elegir las mejores opciones para tu carrera.</p>
              </div>
              <div class="card">
                  <i class="fas fa-users"></i>
                  <h3>Interacción entre Estudiantes de Diferentes Niveles</h3>
                  <p>Conéctate con estudiantes de distintas carreras y niveles educativos. Esta característica fomenta el intercambio de experiencias y conocimientos, creando una red de apoyo para todos los miembros de la comunidad.</p>
              </div>
          </div>
      </section>

      <!-- CTA Section -->
      
{% include 'sitio/footerIndex.html' %}